In [158]:
import pandas as pd
from sklearn.impute import SimpleImputer
import numpy as np
from sklearn.model_selection import train_test_split

In [159]:
df = pd.read_csv("waste_fee.csv")
df

,region,province,name,tc,cres,csor,istat,area,pop,alt,...,msw,sor,geo,roads,s_wteregio,s_landfill,gdp,proads,wage,finance
0,Emilia_Romagna,Ferrara,Comacchio,502.250000,129.270004,66.419998,38006,283.750000,22648,1.0,...,33956781,60.07,3.0,285.0,33.105049,15.233530,7.269942,4.354818,9.438692,7.488041
1,Emilia_Romagna,Ferrara,Lagosanto,228.050003,49.520000,44.139999,38011,34.439999,4952,1.0,...,2411867,75.93,3.0,11.0,33.105049,15.233530,7.109984,6.082588,9.510139,7.323284
2,Emilia_Romagna,Ferrara,Goro,268.010010,50.610001,44.599998,38025,26.620001,3895,1.0,...,2159322,78.49,3.0,49.0,33.105049,15.233530,7.267856,4.335555,8.891356,7.485891
3,Emilia_Romagna,Ferrara,Mesola,199.089996,41.110001,40.439999,38014,84.300003,7140,1.0,...,3651915,78.89,3.0,165.0,33.105049,15.233530,7.085936,3.710479,9.433685,7.298514
4,Puglia,Barletta-Andria-Trani,Margherita di Savoia,233.639999,58.270000,25.950001,110005,35.700001,12193,1.0,...,7195880,42.06,1.0,60.0,4.046452,45.411903,7.247444,5.274037,9.125561,7.464867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4336,Veneto,Vicenza,NaN,122.500000,44.320000,43.590000,24125,NaN,5031,NaN,...,2113374,71.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4337,Lombardia,Varese,NaN,126.220001,51.250000,22.620001,12143,NaN,2623,NaN,...,1240725,79.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4338,Veneto,Belluno,NaN,94.190002,17.080000,47.700001,25074,NaN,13515,NaN,...,5554469,88.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4339,Veneto,Vicenza,NaN,169.559998,70.230003,75.250000,24127,NaN,4683,NaN,...,2172620,67.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4340,Veneto,Vicenza,NaN,75.339996,23.549999,32.580002,24126,NaN,5986,NaN,...,2102724,81.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [160]:
# Getting the shape of the dataframe
df.shape

(4341, 39)

In [161]:
# Print first 5 rows of the dataframe
df.head()

,region,province,name,tc,cres,csor,istat,area,pop,alt,...,msw,sor,geo,roads,s_wteregio,s_landfill,gdp,proads,wage,finance
0,Emilia_Romagna,Ferrara,Comacchio,502.250000,129.270004,66.419998,38006,283.750000,22648,1.0,...,33956781,60.07,3.0,285.0,33.105049,15.233530,7.269942,4.354818,9.438692,7.488041
1,Emilia_Romagna,Ferrara,Lagosanto,228.050003,49.520000,44.139999,38011,34.439999,4952,1.0,...,2411867,75.93,3.0,11.0,33.105049,15.233530,7.109984,6.082588,9.510139,7.323284
2,Emilia_Romagna,Ferrara,Goro,268.010010,50.610001,44.599998,38025,26.620001,3895,1.0,...,2159322,78.49,3.0,49.0,33.105049,15.233530,7.267856,4.335555,8.891356,7.485891
3,Emilia_Romagna,Ferrara,Mesola,199.089996,41.110001,40.439999,38014,84.300003,7140,1.0,...,3651915,78.89,3.0,165.0,33.105049,15.233530,7.085936,3.710479,9.433685,7.298514
4,Puglia,Barletta-Andria-Trani,Margherita di Savoia,233.639999,58.270000,25.950001,110005,35.700001,12193,1.0,...,7195880,42.06,1.0,60.0,4.046452,45.411903,7.247444,5.274037,9.125561,7.464867

In [162]:
# Print last 5 rows of the dataframe
df.tail()

,region,province,name,tc,cres,csor,istat,area,pop,alt,...,msw,sor,geo,roads,s_wteregio,s_landfill,gdp,proads,wage,finance
4336,Veneto,Vicenza,NaN,122.500000,44.320000,43.590000,24125,NaN,5031,NaN,...,2113374,71.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4337,Lombardia,Varese,NaN,126.220001,51.250000,22.620001,12143,NaN,2623,NaN,...,1240725,79.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4338,Veneto,Belluno,NaN,94.190002,17.080000,47.700001,25074,NaN,13515,NaN,...,5554469,88.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4339,Veneto,Vicenza,NaN,169.559998,70.230003,75.250000,24127,NaN,4683,NaN,...,2172620,67.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4340,Veneto,Vicenza,NaN,75.339996,23.549999,32.580002,24126,NaN,5986,NaN,...,2102724,81.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [163]:
# Getting summary of the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4341 entries, 0 to 4340
Data columns (total 39 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      4341 non-null   object
 1   province    4341 non-null   object
 2   name        4335 non-null   object
 3   tc          4341 non-null   float64
 4   cres        4289 non-null   float64
 5   csor        4274 non-null   float64
 6   istat       4341 non-null   int64
 7   area        4335 non-null   float64
 8   pop         4341 non-null   int64
 9   alt         4335 non-null   float64
 10  isle        4335 non-null   float64
 11  sea         4335 non-null   float64
 12  pden        4335 non-null   float64
 13  wden        4335 non-null   float64
 14  urb         4335 non-null   float64
 15  fee         4341 non-null   object
 16  d_fee       4341 non-null   int64
 17  sample      4341 non-null   int64
 18  organic     3829 non-null   float64
 19  paper       4316 non-null   float64
 20  glass       4308 non-null   float64
 21  wood        3246 non-null   float64
 22  metal       4095 non-null   float64
 23  plastic     4302 non-null   float64
 24  raee        4027 non-null   float64
 25  texile      3328 non-null   float64
 26  other       4205 non-null   float64
 27  msw_so      4341 non-null   float64
 28  msw_un      4341 non-null   int64
 29  msw         4341 non-null   int64
 30  sor         4341 non-null   float64
 31  geo         4056 non-null   float64
 32  roads       3898 non-null   float64
 33  s_wteregio  4056 non-null   float64
 34  s_landfill  4056 non-null   float64
 35  gdp         3955 non-null   float64
 36  proads      3898 non-null   float64
 37  wage        4056 non-null   float64
 38  finance     3955 non-null   float64
dtypes: float64(29), int64(6), object(4)
memory usage: 1.3+ MB

In [164]:
# Full summary statistics(Including the categorical value)
df.describe(include='all')

,region,province,name,tc,cres,csor,istat,area,pop,alt,...,msw,sor,geo,roads,s_wteregio,s_landfill,gdp,proads,wage,finance
count,4341,4341,4335,4341.000000,4289.000000,4274.000000,4341.000000,4335.000000,4.341000e+03,4335.000000,...,4.341000e+03,4341.000000,4056.000000,3898.000000,4056.000000,4056.000000,3955.000000,3898.000000,4056.000000,3955.000000
unique,20,102,4333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Lombardia,Bergamo,Castro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1230,218,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,154.235761,54.179839,52.683058,47469.933195,40.995045,1.020384e+04,310.052134,...,5.311340e+06,66.237153,2.290804,101.931121,21.867460,20.000860,7.231159,4.253962,9.446968,7.448094
std,NaN,NaN,NaN,76.069005,43.191121,33.063610,30089.798169,56.784025,5.342640e+04,280.534306,...,3.254404e+07,17.730843,0.887611,309.985865,15.624688,21.371373,0.550041,1.155765,0.298122,0.566542
min,NaN,NaN,NaN,25.690001,4.270000,3.390000,1272.000000,0.120000,3.400000e+01,1.000000,...,1.997200e+04,0.250000,1.000000,1.000000,0.000000,3.602713,6.035401,-3.366593,7.865574,6.216463
25%,NaN,NaN,NaN,108.040001,27.340000,31.252500,18135.000000,10.850000,1.579000e+03,80.000000,...,6.116750e+05,57.830000,1.000000,25.000000,8.904969,4.551430,6.811210,3.497756,9.226408,7.015546
50%,NaN,NaN,NaN,136.619995,41.689999,48.875000,42015.000000,22.730000,3.535000e+03,240.000000,...,1.524449e+06,70.840000,3.000000,51.000000,24.467649,11.296785,7.128087,4.356210,9.522799,7.341930
75%,NaN,NaN,NaN,179.160004,66.489998,66.435001,70049.000000,47.490002,8.199000e+03,459.000000,...,3.954080e+06,79.090000,3.000000,105.000000,38.501492,31.493038,7.571133,5.075414,9.665145,7.798267
max,NaN,NaN,NaN,977.419983,670.320007,582.159973,111107.000000,1287.390015,2.617175e+06,1816.000000,...,1.691887e+09,97.480000,3.000000,14970.000000,65.122093,92.531860,10.538720,8.980027,10.484852,10.854882

In [165]:
# Check for null values for Data Cleaning
df.isnull().sum()

region           0
province         0
name             6
tc               0
cres            52
csor            67
istat            0
area             6
pop              0
alt              6
isle             6
sea              6
pden             6
wden             6
urb              6
fee              0
d_fee            0
sample           0
organic        512
paper           25
glass           33
wood          1095
metal          246
plastic         39
raee           314
texile        1013
other          136
msw_so           0
msw_un           0
msw              0
sor              0
geo            285
roads          443
s_wteregio     285
s_landfill     285
gdp            386
proads         443
wage           285
finance        386
dtype: int64

In [166]:
impute=SimpleImputer(strategy='most_frequent')
new_df=impute.fit_transform(df)
df.columns

Index(['region', 'province', 'name', 'tc', 'cres', 'csor', 'istat', 'area',
       'pop', 'alt', 'isle', 'sea', 'pden', 'wden', 'urb', 'fee', 'd_fee',
       'sample', 'organic', 'paper', 'glass', 'wood', 'metal', 'plastic',
       'raee', 'texile', 'other', 'msw_so', 'msw_un', 'msw', 'sor', 'geo',
       'roads', 's_wteregio', 's_landfill', 'gdp', 'proads', 'wage',
       'finance'],
      dtype='object')

In [167]:
x=pd.DataFrame(new_df)
cols=pd.Series(['region', 'province', 'name', 'tc', 'cres', 'csor', 'istat', 'area',
       'pop', 'alt', 'isle', 'sea', 'pden', 'wden', 'urb', 'fee', 'd_fee',
       'sample', 'organic', 'paper', 'glass', 'wood', 'metal', 'plastic',
       'raee', 'texile', 'other', 'msw_so', 'msw_un', 'msw', 'sor', 'geo',
       'roads', 's_wteregio', 's_landfill', 'gdp', 'proads', 'wage',
       'finance'])

In [168]:
x.rename(columns=cols,inplace=True)

In [169]:
x.isnull().sum()

region        0
province      0
name          0
tc            0
cres          0
csor          0
istat         0
area          0
pop           0
alt           0
isle          0
sea           0
pden          0
wden          0
urb           0
fee           0
d_fee         0
sample        0
organic       0
paper         0
glass         0
wood          0
metal         0
plastic       0
raee          0
texile        0
other         0
msw_so        0
msw_un        0
msw           0
sor           0
geo           0
roads         0
s_wteregio    0
s_landfill    0
gdp           0
proads        0
wage          0
finance       0
dtype: int64

In [170]:
x.drop(columns=['region','province','name'],inplace=True)
x

,tc,cres,csor,istat,area,pop,alt,isle,sea,pden,...,msw,sor,geo,roads,s_wteregio,s_landfill,gdp,proads,wage,finance
0,502.25,129.270004,66.419998,38006,283.75,22648,1.0,0.0,1.0,79.816742,...,33956781,60.07,3.0,285.0,33.105049,15.23353,7.269942,4.354818,9.438692,7.488041
1,228.050003,49.52,44.139999,38011,34.439999,4952,1.0,0.0,1.0,143.786301,...,2411867,75.93,3.0,11.0,33.105049,15.23353,7.109984,6.082588,9.510139,7.323284
2,268.01001,50.610001,44.599998,38025,26.620001,3895,1.0,0.0,1.0,146.318558,...,2159322,78.49,3.0,49.0,33.105049,15.23353,7.267856,4.335555,8.891356,7.485891
3,199.089996,41.110001,40.439999,38014,84.300003,7140,1.0,0.0,1.0,84.697502,...,3651915,78.89,3.0,165.0,33.105049,15.23353,7.085936,3.710479,9.433685,7.298514
4,233.639999,58.27,25.950001,110005,35.700001,12193,1.0,0.0,1.0,341.540619,...,7195880,42.06,1.0,60.0,4.046452,45.411903,7.247444,5.274037,9.125561,7.464867
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4336,122.5,44.32,43.59,24125,4.59,5031,5.0,0.0,0.0,109.589043,...,2113374,71.7,3.0,20.0,38.501492,4.55143,6.737946,2.60269,8.922658,6.940084
4337,126.220001,51.25,22.620001,12143,4.59,2623,5.0,0.0,0.0,109.589043,...,1240725,79.55,3.0,20.0,38.501492,4.55143,6.737946,2.60269,8.922658,6.940084
4338,94.190002,17.08,47.700001,25074,4.59,13515,5.0,0.0,0.0,109.589043,...,5554469,88.3,3.0,20.0,38.501492,4.55143,6.737946,2.60269,8.922658,6.940084
4339,169.559998,70.230003,75.25,24127,4.59,4683,5.0,0.0,0.0,109.589043,...,2172620,67.73,3.0,20.0,38.501492,4.55143,6.737946,2.60269,8.922658,6.940084
4340,75.339996,23.549999,32.580002,24126,4.59,5986,5.0,0.0,0.0,109.589043,...,2102724,81.89,3.0,20.0,38.501492,4.55143,6.737946,2.60269,8.922658,6.940084

In [171]:
x.columns

Index(['tc', 'cres', 'csor', 'istat', 'area', 'pop', 'alt', 'isle', 'sea',
       'pden', 'wden', 'urb', 'fee', 'd_fee', 'sample', 'organic', 'paper',
       'glass', 'wood', 'metal', 'plastic', 'raee', 'texile', 'other',
       'msw_so', 'msw_un', 'msw', 'sor', 'geo', 'roads', 's_wteregio',
       's_landfill', 'gdp', 'proads', 'wage', 'finance'],
      dtype='object')

In [173]:
X = np.array(x)
X = X[:,0:-2]
y = X[:,-1]

In [174]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X,y , random_state=104,test_size=0.25,shuffle=True)